[submodule "Silex-KE"]
	path = Silex-KE
	url = git://github.com/lyrixx/Silex-Kitchen-Edition.git
[submodule "vendor/php-cloudfiles"]
	path = vendor/php-cloudfiles
	url = https://github.com/rackspace/php-cloudfiles.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = https://github.com/symfony/symfony.git
[submodule "vendor/silex"]
	path = vendor/silex
	url = https://github.com/fabpot/Silex.git
[submodule "vendor/Twitter-bootstrap"]
	path = vendor/Twitter-bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = https://github.com/kriswallsmith/assetic.git
[submodule "vendor/Silex-extentions"]
	path = vendor/Silex-extentions
	url = https://github.com/fate/Silex-Extensions.git
[submodule "vendor/Twig-extensions"]
	path = vendor/Twig-extensions
	url = https://github.com/fabpot/Twig-extensions.git
