{% extends 'layout.html.twig' %}

{% block content %}

<div class="container-fluid">

<div class="sidebar">
    <div class="well">
        <b>Menu Items</b>
    </div>
</div>

<div class="content">

    <h1>Here we go!!</h1>


          <div class="alert-message warning fade in">
            <a class="close" href="#">×</a>
            <p><strong>Holy guacamole!</strong> Best check yo self, you’re not <a href="#">looking too good</a>.</p>
          </div>
          <div class="alert-message error fade in">
            <a class="close" href="#">×</a>
            <p><strong>Oh snap!</strong> Change this and that and <a href="#">try again</a>.</p>
          </div>
          <div class="alert-message success fade in">
            <a class="close" href="#">×</a>
            <p><strong>Well done!</strong> You successfully <a href="#">read this</a> alert message.</p>
          </div>
          <div class="alert-message info fade in">
            <a class="close" href="#">×</a>
            <p><strong>Heads up!</strong> This is an alert that needs your attention, but it’s not <a href="#">a huge priority</a> just yet.</p>
          </div>




<script src="{{ app.request.basepath }}/assets/js/"
    __DIR__ . '/../resources/assets/js/jquery.tablesorter.min.js',
<script >
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
  });
</script>
<table id="sortTableExample" class="zebra-striped">
        <thead>
          <tr>
            <th class="header">#</th>
            <th class="yellow header headerSortDown">First Name</th>
            <th class="blue header">Last Name</th>
            <th class="green header">Language</th>
          </tr>
        </thead>
        <tbody>



        <tr>
            <td>2</td>
            <td>Joe</td>
            <td>Sixpack</td>
            <td>English</td>
          </tr><tr>
            <td>3</td>
            <td>Stu</td>
            <td>Dent</td>
            <td>Code</td>
          </tr><tr>
            <td>1</td>
            <td>Your</td>
            <td>One</td>
            <td>English</td>
          </tr></tbody>
      </table>




</div>

</div>

{% endblock %}